body.modal-open{
    overflow: hidden;
}
.badge-portfolio{
    border-radius: 50%!important;
}
.text-limited{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    display: -webkit-box;
    line-clamp: 3;
    box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
#Achievents_group_edit{
    display: none;
}
.achievementEditCard:hover{
    background-color: var(--base-midnight-6);
}
#modal-card-title .badge{
    margin-left: 16px;
}
.warning_empty{
    border: 1px solid var(--additional-coral, #EC6A71) !important;
    background-color: var(--pastel-coral);
    color: var(--additional-coral);
}
.warning_empty::-webkit-input-placeholder{
    color: var(--additional-coral)!important;
}
.warning_empty::-moz-placeholder{
    color: var(--additional-coral)!important;
}
.warning_empty_data{
    border: 2px dashed var(--additional-coral, #EC6A71) !important;
    background: var(--pastel-coral, #FEF7F8) !important;
    color: var(--additional-coral, #EC6A71) !important;
}
.warning_empty:focus{
    box-shadow: 0px 0px 4px 0px #EC6A71 !important;
    border: 1px solid var(--additional-coral, #EC6A71) !important;
}
#modal-card-title_moderator .badge{
    margin-left: 16px;
}
.moderator_notification{
    display: flex;
    padding: 16px 20px;
    gap: 16px;
    align-items: flex-start;
    border-radius: 8px;
    margin: 24px 0px;

}
.badge{
    cursor: auto!important;
}
.content{
    padding: 0 !important;
}
.container-fluid{
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.portfolio_column_new{
    display: flex;
    flex-direction: column;
}
.new_header_portfolio{
    display: flex;
    padding: 24px 120px 0 120px;
    flex-direction: column;
    row-gap: 24px;
    background-color: var(--base-white) !important;
}
.main_panel_content_portfolio{
    padding: 24px 120px 32px 120px;
}
.field_columns_header_portfolio{
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 24px;
}
.fio_columns_header_portfolio{
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex-basis: 40%;
    border-right: 1px solid var(--base-midnight-5);
    padding-right: 16px;
    align-items: flex-start;
}
.columns_header_portfolio{
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    gap: 24px;
    border-right: 1px solid var(--base-midnight-5);
    padding-right: 24px;
    align-items: flex-start;
}
.columns_header_portfolio:last-child{
    border-right: 0px;
    padding-right: 0;
}
.data_columns{
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    min-height: 68px;
}
.columns_header_portfolio > div:last-child{
    min-height: 0;
}
.margon_null{
    margin: 0;
}
.adaptive_portfolio_column{
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.flex_column_education{
    display: flex;
    flex-direction: column;
    flex-basis: 64%;
}
.flex_column_competition{
    flex-basis: 36%;
}
.portfolio-header{
    background-color: var(--base-white) !important;
    display: flex;
    flex-direction: row;
    padding: 40px 0 0 48px;
    justify-content: flex-start;
    gap: 16px;
}

.portfolio-header .portfolio-header-column{
    border-right: 1px solid var(--base-midnight-5) !important;
    padding: 0 16px 0 24px;
    gap: 24px;
}
.portfolio-header .portfolio-header-column:first-child{
    padding: 0 16px 0 0;
}
.portfolio-header .portfolio-header-column:last-child{
    border: none !important;
}

.portfolio-header-tooltip{
    position: relative;
    margin-left: 12px;
    margin-top: -1px;
}

.portfolio-header-tooltip > .tooltip-area{
    display: none;

}
.portfolio-header-tooltip:hover > .tooltip-area{
    display: inline-block;
    position: absolute;
    left: 48px;
    top: -10px;
    z-index: 100;
    min-width: 500px;
    min-height: 165px;
    background: var(--base-white);
    border-radius: 8px;
    padding: 16px;
    filter: drop-shadow(0px 8px 24px rgba(27, 49, 77, 0.12));
}
.portfolio-header-tooltip:hover > .tooltip-area::before{
    content: " ";
    position: absolute;
    left: -20px;
    top: 10px;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 13px 26px 13px 0;
    border-color: transparent var(--base-white) transparent transparent;
}

.tooltip-area-header {
    display: inline-flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.tooltip-area-content{padding: 4px 0 0 24px;}

.portfolio-avatar{
    min-width: 100px;
    min-height: 100px;
    background: var(--base-midnight-6);
    border-radius: 50%;
}

.portfolio-avatar img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: matrix(1, 0, 0, 1, 0, 0);
    background: var(--base-midnight-6);
}
.portfolio.info-title{
    color: var(--base-midnight-4);
    font-family: 'PT Root', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.portfolio.info-text{
    color: var(--base-secondary);
    font-family: 'PT Root', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    height: 48px;
}

.portfolio-tabs ul.nav-tabs{
    border: none !important;
}

.portfolio-tabs ul.nav-tabs li{
    padding: 0 48px 0 0 !important;
}

.portfolio-tabs a.nav-link{
    color: var(--base-midnight-3);
    font-weight: 400;
    padding: 16px 0;
}
.portfolio-tabs a.nav-link:hover{
   border-color: var(--base-white);

}
.portfolio-tabs a.nav-link.active{
    color: var(--base-secondary) !important;
    font-weight: 500;
    border-color: #fff #fff var(--base-primary);
    border-bottom: 3px solid var(--base-primary); !important;
}

.portfolio-content-header{
    color: var(--base-secondary);
    padding-bottom: 24px;
}


.portfolio-content-table{
    background-color: var(--base-white);
    padding-left: 24px;
    padding-right: 24px;
    font-family: 'PT Root', sans-serif;
    border-radius: 8px;
}

.portfolio-content-table tr{
    height: 72px;
}
.portfolio-content-table thead tr {
    color: var(--base-secondary);
    border-bottom: 1px solid var(--base-midnight-4);
    border-top: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.portfolio-content-table thead tr th{
    text-align: left;
    vertical-align: middle;
}
.portfolio-content-table tbody tr{
    color: var(--base-secondary);
    border-bottom: 1px solid var(--base-midnight-5);
    border-top: 0;
    text-align: left;
    vertical-align: middle;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.portfolio-content-table tbody tr td{
    text-align: left;
    vertical-align: middle;
}
.portfolio-content-table tbody tr:last-child{
    border-bottom: 0;
}

.portfolio-content-table tbody tr td.mark-exelent{color: var(--additional-cian);}
.portfolio-content-table tbody tr td.mark-good{color: var(--base-primary);}
.portfolio-content-table tbody tr td.mark-average{color: var(--additional-yellow);}
.portfolio-content-table tbody tr td.mark-bad{color: var(--additional-coral);}

.portfolio-top-header{
    margin: 0 0 0 24px;
    padding: 0;
}


.portfolio-ach-cards{
    word-break: break-word;
}
.portfolio-ach-cards div.portfolio-ach-card{
    margin: 0 24px 24px 0;
    background-color: var(--base-white);
    width: 298px;
    height: 284px;
    border-radius: 10px;
    color: var(--base-midnight-2);
    font-family: 'PT Root', sans-serif;
    font-style: normal;
    padding: 24px;
    gap: 16px;
}

.portfolio-ach-card.empty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    min-height: 284px;
    border: 2px dashed var(--base-midnight-5);
    border-radius: 10px;
    background-color: transparent !important;
    gap: 8px;
}

.portfolio-ach-cards:last-child{
    margin-right: 0;
}
.portfolio-about{
    background-color: var(--base-white);
    padding: 24px;
    gap: 24px;
    border-radius: 10px;
    height: 250px;
}

.portfolio-column{
    display: flex;
    flex-direction: column;
    padding-left: 8.5px;
}
.portfolio-column-header{
    margin-bottom: 24px;
}
.portfolio_block_organithation_edication > .portfolio-column-card{
    margin-bottom: 24px;
}

.portfolio-column > .portfolio-column-card:last-child{
    margin-bottom: 0 !important;
}

.portfolio-column-card{
    min-height: 170px;
    height: fit-content;
    border-radius: 10px;
    padding: 24px;
    background-color: var(--base-white);
    gap: 16px;
    font-family: "PT Root", sans-serif;
    color: var(--base-secondary);
}

.portfolio-column-card .card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 4px;
}

.card-content.content-w-fit{
    max-width: fit-content;
    width: 85%;
}


.card-content .card-content-header{
    display: inline-flex;
    min-height: 28px;
}

.card-content .card-content-status{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    margin-top: 14px;
}
/*.card-content-status > div:last-child{
        margin-left: 0.6em;
}*/

.portfolio-career, .portfolio-career.about{
    padding-top: 24px;
}

.portfolio-career-header{
    color: var(--base-secondary);
    font-family: "PT Root", sans-serif;
    margin-bottom: 12px;
}

.portfolio-career-card{
    background-color: var(--base-white);
    font-family: "PT Root", sans-serif;
    color: var(--base-secondary);
    padding: 24px;
    min-height: 155px;
    border-radius: 10px;
    gap: 42px;
    margin-bottom: 24px;
}

.portfolio-career-card.empty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    min-height: 250px;
    border: 2px dashed var(--base-midnight-5);
    border-radius: 10px;
    background-color: transparent !important;
    gap: 8px;
}

.portfolio-career-card.about{
    gap: 12px !important;
}


.portfolio-career-card > div.card-datetime{gap: 8px; border-right: 1px solid var(--base-midnight-5);}
.portfolio-career-card > div.card-datetime div:last-child{color: var(--base-midnight-4)}
.portfolio-career-card > div.card-content {gap: 8px}
                         div.card-content ul{margin: 0; padding: 0 0 0 1.5em;}
.portfolio-career-card > div.card-edit{}

.portfolio-modal-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}

.portfolio-modal-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}

.portfolio-modal-file,
.portfolio-external-link{
    position: relative;
    height: 72px;
    padding: 16px 0 16px 56px;
    border: 1px solid var(--base-midnight-5);
    border-radius: 8px;
    cursor: pointer;
    margin-top: 16px;
}

.portfolio-modal-file > span{
    display: inline-block;
    width: 85%;
    height: 100%;
    vertical-align: baseline;
}
/*.portfolio-modal-file::before,
.portfolio-modal-file::after{
    font-family: Rosnou !important;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}*/

.portfolio-modal-file > span[class*="icon-"]:first-child{
    position: absolute;
    top: 50%;
    left: 16px;
    margin-right: 5px;
    transform: translateY(-12px);
    width: auto;
    height: auto;
}
.portfolio-modal-file > span[class*="icon-"]:last-child{
    position: absolute;
    top: 50%;
    right: 16px;
    margin-right: 5px;
    transform: translateY(-12px);
    width: auto;
    height: auto;
}

.portfolio-modal-file{line-height: calc(70px/2) !important;}

.portfolio-external-link{line-height: normal !important; }

a.portfolio-external-link{display: block; color: var(--base-secondary) }

a.portfolio-external-link > span {
    display: inline-block;
    vertical-align: center;
}

.portfolio-external-link::before{
    position: absolute;
    top: 50%;
    left: 16px;
    color: var(--base-primary);
    margin-right: 5px;
    transform: translateY(-50%);
}

.portfolio-moderator-status {
    position: relative;
    height: fit-content;
    padding: 16px 0 16px 56px;
    border-radius: 8px;
    margin-top: 16px;
    color: var(--base-secondary);
}

.portfolio-moderator-status > span[class*='icon-']{
    font-size: 28px;
    position: absolute;
    top: 50%;
    left: 16px;
    margin-right: 5px;
    transform: translateY(-50%);
}

.portfolio-moderator-status.success,
.portfolio-moderator-status .success{
    background-color: var(--pastel-cyan);
    color: var(--additional-cian);
}

.portfolio-moderator-status.info,
.portfolio-moderator-status .info{
    background: rgba(38, 153, 212, 0.05);
    color: var(--base-primary);
}

.portfolio-moderator-status.denied,
.portfolio-moderator-status .denied{
    background: var(--pastel-coral);
    color: var(--additional-coral);
}


/* Пересмотреть */

.btn-portfolio-add {
    padding: 6px 12px !important;
    margin: 0px !important;
    line-height: 20px;
    font-size: 14px;
}
.btn-portfolio-add span[class*="icon-"] {
    font-size: 16px !important;
    line-height: 16px;
    font-weight: 400;
    font-style: normal;
    margin-right: 8px;
}
.margin_bottom_32{
    margin-bottom: 32px;
}

@media screen and (min-width: 200px) and (max-width: 1050px)  {
    .portfolio-tabs{
        display: flex;
        justify-content: center;
    }
    .field_columns_header_portfolio{
        flex-direction: column;
        align-items: center;
        column-gap: 0;
        row-gap: 24px;
    }
    .fio_columns_header_portfolio{
        border-right: 0px;
        padding-right: 0;
        flex-direction: column;
        align-items: center;
    }
    .columns_header_portfolio{
        padding-right: 0;
        border-right: 0px;
        align-items: stretch;
        width: 100%;
        max-width: 480px;
        column-gap: 24px;
    }
    .data_columns{
        min-height: 0px;
    }
    .adaptive_portfolio_column{
        display: flex;
        flex-direction: column;

    }
}
@media (max-width: 1240px) {
    .new_header_portfolio {
        padding: 24px 48px 0px 48px;
    }
    .main_panel_content_portfolio {
        padding: 40px 48px 24px 48px;
    }

}
@media (max-width: 768px) {
    .new_header_portfolio {
        padding: 24px 24px 24px 24px;
    }
    .user-profile {
        padding: 40px 24px 0 24px;
    }
}
/**** buttons and other basic element ****/
.primary_button{
    color: var(--base-white)!important;
    background: var(--base-primary);
    padding: 8px 16px;
    border-radius: 8px;
    border: var(--base-primary);
}
.primary_button:active{
    color: var(--base-white);
    background: var(--base-primary);
    box-shadow: none;
}
.primary_button:hover:not(:active){
    background: var(--primary-dark);
    border: var(--primary-dark);
}
.primary_button:focus-visible{
    box-shadow: 0px 0px 4px 2px rgba(38, 153, 212, 0.6);
    outline: none;
}


.secondary_button {
    font-weight: 400;
    border: 1px solid var(--base-midnight-5) !important;
    border-radius: 8px;
    padding: 8px 16px;
    font-style: normal;
    font-weight: 400;
    background: none;
    color: var(--base-secondary);
}
.secondary_button:active{
    background: none;
    border: 1px solid var(--base-midnight-5) !important;
    color: var(--base-secondary);
}
.secondary_button:hover:not(:active){
    background: var(--base-midnight-6);
    border: 1px solid var(--base-midnight-5);
    color: var(--base-secondary);
}
.secondary_button:focus-visible{
    box-shadow: 0px 0px 4px 2px rgba(61, 91, 124, 0.2);
    background: none;
    outline: none;
    color: var(--base-secondary);
}


.primary_button_split_left{
    border-radius: 8px 0px 0px 8px!important;
    border: 0!important;
}
.primary_button_split_right{
    border-radius: 0px 8px 8px 0px !important;
    border: 0!important;
}


.margin-right-12{margin-right: 12px}
.margin-right-10{margin-right: 10px}
.first_button{
    width: 50%;
}
.group_button{
    display: flex;
    flex-basis: 50%;
}
.dropdownMenu{
    width: auto;
    padding: 0px;
    top: 16px!important;
    background: var(--base-white);
    box-shadow: 0px 8px 24px rgba(27, 49, 77, 0.12) !important;
    border-radius: 8px;
    border: none;
}
.dropdownMenu .dropdown-item{
    padding: 18px 16px !important;
    cursor: pointer;
    border-bottom: 1px solid var(--base-midnight-6)!important;
}
.dropdownMenu .dropdown-item:last-child {
    border-bottom: none;
}
.dropdown-item:focus, .dropdown-item:hover{
    text-decoration: none;
    background-color: var(--base-background);
}
.dropdown-item:focus, .dropdown-item:focus:first-child{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.dropdown-item:focus, .dropdown-item:focus:last-child{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.dropdown-item:focus, .dropdown-item:hover:first-child{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.dropdown-item:focus, .dropdown-item:hover:last-child{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.dropdown-item:focus, .dropdown-item:active,dropdown-item:first-child{
    text-decoration: none;
    background-color: #e9ecef;
}

.portfolio .badge.badge-light-primary{color: var(--base-primary);background: var(--pastel-blue-2)}
.portfolio .badge-primary{color:var(--base-white);background: var(--base-primary);}
.portfolio .badge.badge-light-success{color: var(--additional-cian);background: var(--pastel-cyan-2)}
.portfolio .badge.badge-success{color: var(--base-white);background: var(--additional-cian)}
.portfolio .badge.badge-light-warning{color: var(--additional-yellow);background: var(--pastel-yellow-2)}
.portfolio .badge.badge-warning{color: var(--base-white);background: var(--additional-yellow)}
.portfolio .badge.badge-light-danger{color: var(--additional-coral);background: var(--pastel-coral-2)}
.portfolio .badge.badge-danger{color: var(--base-white);background: var(--additional-coral)}
.portfolio .badge.badge-light-secondary{color: var(--base-midnight-3);background: var(--base-bg_color)}
.portfolio .badge.badge-secondary{color: var(--base-white);background:var(--base-midnight-3)}

.snackbar.snackbar-warning{background: var(--pastel-coral-2);color: var(--base-secondary)}
.snackbar.snackbar-warning .snackbar_icons_first{color: var(--additional-coral);font-size: 32px !important;}
.snackbar.snackbar-primary{background: var(--pastel-blue-2);color: var(--base-secondary)}
.snackbar.snackbar-primary .snackbar_icons_first{color: var(--base-primary);font-size: 32px !important;}
.snackbar.snackbar-success{background: var(--pastel-cyan-2);color: var(--base-secondary)}
.snackbar.snackbar-success .snackbar_icons_first{color: var(--additional-cian);font-size: 32px !important;}
.snackbar.snackbar-info{background: var(--pastel-yellow-2);color: var(--base-secondary)}
.snackbar.snackbar-info .snackbar_icons_first{color: var(--additional-yellow);font-size: 32px !important;}

.tertiary_button{
    max-width:max-content;
    padding: 4px;
    gap: 8px;
    background: none;
    display: flex;
    align-items: center;
    border-radius: 8px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0) !important;
    cursor: pointer;
}
.tertiary_button:active{
    border: none;
    background: none;
}
.tertiary_button:focus-visible{
    outline: none;
    border: 1px solid var(--base-midnight-5) !important;
}
.tertiary_button:hover:not(:active){;
    background: var(--transparent-midnight) !important;
}

.modal_body{
    padding: 24px;
    background-color: var(--base-white);
    align-items: center;
    display: flex;
    gap: 24px;
    align-items: center;
}
.warning_icons{
    margin-top: 32px;
    display: flex;
    width: 100px;
    height: 100px;
    padding: 18px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 50px;
    background: var(--pastel-coral-2);
}
.style_warning_icons{
    color: var(--additional-coral);
    font-size: 64px !important;
}
.modal_body_text{
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
}
.modal_body_footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
}
